 @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add_shopping_cart');

@tailwind base;
@tailwind components;
@tailwind utilities;


 @layer base{
    body{
        font-family:"Readex Pro", sans-serif;
        /* background-color: rgb(1, 1, 29) */
    }
}
.circle {
  position: absolute;
  bottom: 0;
  width: 180px;
  height: 160px;
  border-radius: 50%;
  animation: monter 9s linear;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.position{
  color: red;
}
