@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  animation: gradient-animation 10s ease infinite;
  background: linear-gradient(45deg, #f78a8a, #9e95f3, #6a82fb);
  background-size: 300% 300%;
}
body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.App h1{
  text-align: center;
  margin-bottom: 9px;
}
.container{
  background-color: rgb(243, 193, 193);
}
.container img{
  justify-content: center;
  display: flex;
  width: 592px;
}
.posts-container {
  display: grid;
  gap: 20px;
  margin-top: 30px;
}

.post {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

.post img {
  max-height: 300px;
  object-fit: cover;
  margin: 10px 0;
}
.listes{
  border: 1px solid #007bff;
  padding: 3px;
  margin: 0px;
  border-radius: 5px;
}
.listes p{
  text-align: center;
}
form {
  display: grid;
  gap: 10px;
  margin-bottom: 50px;
  
}

input, textarea {
  padding: 8px;
  border: 3px solid #007bff;
  border-radius: 5px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 2px;
}
.btnDelete{
  background-color: red;
}