code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightblue;
    padding: 9px;
}
nav input{
    width: 250px;
    text-decoration: none;
    padding: 9px;
    font-size: 18px;
    border: none;
}
.searchBar{
    display: flex;
    align-items: center;
    gap: 11px;
}
nav button{
    width: 70px;
    height: 38px;
    background-color: blue;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
nav ul li{
    display: flex;
    gap: 11px;
}
.cardContainer{
    display: flex;
    justify-content: center;
    gap: 41px;
    flex-wrap: wrap;
}
.card{
    width: 320px;
    box-shadow: 0px 4px 4px 4px rgba(255, 255, 255, 255);
    background-color: white;
    border-radius: 3px;
    margin-top: 21px;
    border: 1px solid rgba(236, 236, 236);
}
.card img{
    width: 100%;
    height: 100px;
    border-top-left-radius: 3px;
    border-top-right-radius: 18px;
}
.card .title{
    font-weight: 600;
    font-size: 18px;
    margin-top: -7px
}
.card .title:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}
.card .content{
    padding: 9px;
}
.card button{
    background-color: rgba(29, 162, 214);
    border:none;
    cursor: pointer;
    width: 80px;
    height: 28px;
    color: white;
    font-size: 13px;
    border-radius: 2px;
}
.categoryBtn{
    display: flex;
    justify-content: center;
    gap: 11px
}
.categoryBtn button{
    gap: 11px;
    width: 130px;
    height: 33px;
    background-color: rgba(255, 108, 108);
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    padding: 2px;
}
.head{
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}